certifi==2024.6.2
cfchecker==4.1.0
cftime==1.6.4
cfunits==3.3.7
charset-normalizer==3.3.2
et-xmlfile==1.1.0
future==1.0.0
idna==3.7
lxml==5.2.2
markdown-it-py==3.0.0
mdurl==0.1.2
netCDF4==1.7.1
numpy==2.0.0
openpyxl==3.1.4
packaging==24.1
pandas==2.2.2
pyaml==25.7.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.3
requests==2.32.3
rich==13.7.1
six==1.16.0
tzdata==2024.1
urllib3==2.2.2
xarray==2024.6.0
